@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: linear-gradient(
    119.29deg,
    #00548e 15.97%,
    rgba(0, 150, 255, 0.53) 87.95%
  );
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

#background-sphere {
  position: absolute;
  z-index: -100;
  width: 328px;
  height: 328px;
  border-radius: 50%;
  background: linear-gradient(
    180deg,
    rgba(114, 255, 255, 0.562) 0%,
    rgba(114, 255, 255, 0) 100%
  );
}
